// 1. Your custom variables and variable overwrites.
:root {
  --main: #009640;
  --secondary: #E6B500;
  --muted: #f6fdfb;
}

$global-color: #000000;
$global-link-color: #000000;
$global-link-hover-color: var(--main);

$global-primary-background: #E6B500;
$global-secondary-background: #1a3f5c;
$global-muted-background: #f8f8f8;

$navbar-background: rgb(255, 255, 255);
$navbar-nav-item-color: #000;
$inverse-navbar-nav-item-color: #fff;
$navbar-nav-item-hover-color: var(--main);
$navbar-nav-item-font-size: 1.05em;
$navbar-nav-item-padding-horizontal: 25px;

$form-focus-border: var(--main);

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

// 4. Own CSS.
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Poppins:wght@300;500&display=swap');
@import "custom.scss";